.worldMap {
  border: 1px solid;
}

.jvectormap-tip {
  display: none !important;
}

.title {
  text-transform: capitalize;
  text-align: center;
  color: yellow;
}

.visitList {
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-weight: bold;
}

.titleField {
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addTolist {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  text-transform: capitalize;
}

.countryList {
  margin-bottom: 30px;
}

.divItem {
  margin-bottom: 15px;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.itemName {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.deleteAll {
  text-align: center;
}

.btnField {
  margin-top: 10px;
}

.btnDelete {
  margin-top: 10px;
  text-align: center;
}

.controlButtons {
  display: flex;
  justify-content: space-around;
}
